<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>ขายสินค้า</title>
</head>
<body>
  <br>
  <br>
  <br>
  <main class="container px-4 px-lg-2 my-5">
    <h1>เครื่องดื่ม</h1>
    <hr>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">รับออเดอร์</li>
      </ol>
    </nav>
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="product-list">
        <!-- Product items will be dynamically added here -->
      </div>
    </div>
  </main>

  <script>
    // Call the MongoDB API endpoint to get product data
    axios.get('/products')
      .then(response => {
        const products = response.data;

        // Render products dynamically
        const productListElement = document.getElementById('product-list');

        products.forEach(product => {
          const productCard = document.createElement('div');
          productCard.className = 'col mb-5';

          productCard.innerHTML = `
            <div class="card h-100">
              <img class="card-img-top" src="${product.image}" alt="Product Image" />
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">${product.name}</h5>
                  ${product.price} ฿
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              </div>
            </div>
          `;

          productListElement.appendChild(productCard);
        });
      })
      .catch(error => {
        console.error('Error fetching product data:', error);
      });
  </script>
</body>
</html>
