<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>จัดการพนักงาน</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<!--fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  } 
.drinkbutton {
position: fixed;
bottom: 10px;
right: 10px;
z-index: 1000;
}
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  body{
    font-family: 'Prompt', sans-serif;
  }
</style>

    
    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">ร้านชาตันหยง ซอยสุนทรวิภาค</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <% if (loggedIn) {%>
      <a class="btn btn-sm btn-danger" href="/logout">Sign out <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg></a>
      <% } %>

      <% if (!loggedIn) {%>
        <a class="btn btn-sm btn-outline-secondary mx-3" href="/login">Sign In</a>
        <a class="btn btn-sm btn-success" href="/register">Sign Up</a>
        <% } %>

    </div>
  </div>
</header>

<!-- nav -->
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/home">
              <span data-feather="home"></span>
            หน้าแรก
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order">
              <span data-feather="file"></span>
              ออเดอร์
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/product">
              <span data-feather="shopping-cart"></span>
              จัดการสินค้า
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employee">
              <span data-feather="users"></span>
              ข้อมูลพนักงาน
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/raw">
              <span data-feather="layers"></span>
              วัตถุดิบ
            </a>
          </li>
          <button id="drinkbutton" class="btn btn-dark fullscreen-button">
            <a class="nav-link" href="/index_product">
              <span style="color: white;"> <i class="bi bi-cup-straw"></i></span>
              <span style="color: white;">รับออเดอร์</span>
            </a>
          </button> 
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">สวัสดีคุณ <%= UserData.firstname %> <%= UserData.lastname %></h1>
        <h3>สถานะ : <%= UserData.role %> </h3> 
      </div>
      <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg> เพิ่มสินค้า
    </a>
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เพิ่มสินค้า</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="products/insert" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="productName" class="form-label">ชื่อสินค้า</label>
                  <input type="text" class="form-control" id="productname" name="productname" required>
                </div>
                <div class="mb-3">
                  <label for="productType" class="form-label">ประเภท</label>
                  <select class="form-control" id="type" name="type" required>
                      <option value="เย็น">เย็น</option>
                      <option value="ร้อน">ร้อน</option>
                      <option value="ปั่น">ปั่น</option>
                  </select>
              </div>
                <div class="mb-3">
                  <label for="productPrice" class="form-label">ราคา</label>
                  <input type="number" class="form-control" id="price" name="price" pattern="[0-9]+"required>
              </div>
              <div class="mb-3">
                <label for="image" class="form-label">รูปภาพ</label>
                <input type="file" class="form-control" id="image" name="image">
              </div>                     
                <button type="submit" class="btn btn-dark">บันทึก</button>
              </form>
            </div>
        </div>
    </div>
</div>
  

    <!-- Bootstrap JS bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<br><br>
<h4>สินค้าทั้งหมด</h4>


<div class="table-responsive">
  <table class="table table-striped table-sm">
      <thead>
          <tr>
              <th scope="col">เลข</th>
              <th scope="col">ลำดับ</th>
              <th scope="col">รูปภาพ</th>
              <th scope="col">ชื่อสินค้า</th>
              <th scope="col">ประเภท</th>
              <th scope="col">ราคา</th>
              <th scope="col">วันที่และเวลาที่เพิ่ม</th>
              <th scope="col">ข้อมูล</th>
          </tr>
      </thead>
      <tbody id="productTableBody">
      </tbody>
  </table>
</div>
</main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone.min.js"></script>
<script>
function populateEditModal(productId) {
  axios.get(`/products/${productId}`)
    .then(response => {
      const product = response.data;
      console.log('Product Data:', product);
      if (product.productname && product.type && product.price) {
        document.getElementById('editProductname').value = product.productname;
        document.getElementById('editType').value = product.type;
        document.getElementById('editPrice').value = product.price;
        document.getElementById('editProductId').value = product._id;

        // Show the modal
        const editModal = new bootstrap.Modal(document.getElementById('editProductModal'));
        editModal.show();
      } else {
        console.error('Invalid product data:', product);
      }
    })
    .catch(error => {
      console.error('Error fetching product details:', error);
    });
}
  axios.get('/products')
    .then(response => {
      const products = response.data;
      const tableBody = document.getElementById('productTableBody');
      tableBody.innerHTML = '';

      products.forEach((product, index) => {
        const row = `<tr>
                       <td>${product._id}</td>
                        <td>${index + 1}</td>
                        <td> <img src="/images/products/${product.image}" alt="Product Image" style="width: 50px; height: 50px; object-fit: cover;"></td>                        
                        <td>${product.productname}</td>
                        <td>${product.type}</td>
                        <td>${product.price}</td>
                        <td>${moment(product.created).tz('Asia/Bangkok').format('YYYY-MM-DD HH:mm:ss')}</td>

                        <td>
                          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editProductModal" onclick="populateEditModal('${product._id}')">แก้ไข</button>
                          <a href="products/delete/${product._id}" class="btn btn-danger" onclick="return confirm('คุณต้องการลบหรือไม่ ?')">ลบ</a>
                        </td>
                    </tr>`;

        tableBody.innerHTML += row;
      });
    })
    .catch(error => {
      console.error('Error fetching products:', error);
    });
</script>

<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProductModalLabel">แก้ไขสินค้า</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/products/update/${product._id}" method="POST">
          <div class="mb-3">
            <label for="editProductId" class="form-label">Product ID</label>
            <input type="text" class="form-control" id="editProductId" name="editProductId"readonly>
         </div>         
          <div class="mb-3">
            <label for="editProductname" class="form-label">ชื่อสินค้า</label>
            <input type="text" class="form-control" id="editProductname" name="editProductname" required>
          </div>
          <div class="mb-3">
            <label for="editType" class="form-label">ประเภท</label>
            <select class="form-control" id="editType" name="editType" required>
              <option value="เย็น">เย็น</option>
              <option value="ร้อน">ร้อน</option>
              <option value="ปั่น">ปั่น</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="editPrice" class="form-label">ราคา</label>
            <input type="number" class="form-control" id="editPrice" name="editPrice" pattern="[0-9]+" required>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">รูปภาพ</label>
            <input type="file" class="form-control" id="image" name="image" required>
          </div> 
          <!-- Add more fields as needed -->
          <button type="submit" class="btn btn-dark">บันทึก</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</main>
</div>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>    

    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
  <!-- <div class="mb-3">
                <label for="raw" class="form-label">จำนวนวัตถุดิบ (กรอกเป็นตัวเลข)</label>
                <input type="number" class="form-control" id="rawoption" name="rawoption" pattern="[0-9]+" required>
              </div>
              <div id="dynamicRawOptions" class="mb-3">
              </div>
              <script>
                function updateDynamicRawOptions() {
                  const numOptions = document.getElementById('rawoption').value;
                  const dynamicOptionsContainer = document.getElementById('dynamicRawOptions');
                  dynamicOptionsContainer.innerHTML = '';
                  for (let i = 1; i <= numOptions; i++) {
                    const input = document.createElement('input');
                    input.type = 'text';
                    input.className = 'form-control';
                    input.placeholder = `วัตถุดิบที่ ${i}`;
                    input.name = `rawoption_${i}`;
                    dynamicOptionsContainer.appendChild(input);
                  }
                }
                document.getElementById('rawoption').addEventListener('input', updateDynamicRawOptions);
              </script> -->