<!DOCTYPE html>
<html lang="en">
  <head>
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  </head>
  <body style="font-family: 'Prompt', sans-serif; font-size: 14px;">
  
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html" style="font-family: 'Prompt', sans-serif; font-size: 18px;">ระบบจัดการวัตถุดิบร้านกาแฟ</a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img" style="font-family: 'Prompt', sans-serif; font-size: 18px;"> 
                  <img src="/images/users/<%=UserData.image %>" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black"><%= UserData.firstname %> <%= UserData.lastname %></p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#" style="font-family: 'Prompt', sans-serif; font-size: 14px;">
                  <i class="mdi mdi-account me-2 text-primary"></i> โปรไฟล์ส่วนตัว
                </a>
                <div class="dropdown-divider"></div>
                <% if (loggedIn) { %>
                  <a class="dropdown-item" href="/logout" style="font-family: 'Prompt', sans-serif; font-size: 14px;">
                    <i class="mdi mdi-logout me-2 text-primary"></i> ออกจากระบบ
                  </a>
                <% } else { %>
                  <a class="btn btn-sm btn-outline-secondary mx-3" href="/login">Sign In</a>
                  <a class="btn btn-sm btn-success" href="/register">Sign Up</a>
                <% } %>
              </div>
            </li>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('layout/navbarU') -%>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-food-fork-drink"></i>
                </span> จัดการข้อมูลสินค้า
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    
                  </li>
                </ul>
              </nav>
            </div>

            <div class="row">
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">  
                        <a href="#" class="btn btn-block btn-lg btn-gradient-primary mt-1" data-bs-toggle="modal" data-bs-target="#addEmployeeModal" style="font-family: 'Prompt', sans-serif; font-size: 14px;">+ เพิ่มวัตถุดิบ</a>
                        </h4>
                        <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">เพิ่มสินค้า</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form action="products/insertU" method="POST" enctype="multipart/form-data">
                                  <div class="mb-3">
                                    <label for="productName" class="form-label">ชื่อสินค้า</label>
                                    <input type="text" class="form-control" id="productname" name="productname" required>
                                  </div>
                                  <div class="mb-3">
                                    <label for="productType" class="form-label">ประเภท</label>
                                    <select class="form-control" id="type" name="type" required style="font-family: 'Prompt', sans-serif; font-size: 14px;">
                                        <option value="เย็น">เย็น</option>
                                        <option value="ร้อน">ร้อน</option>
                                        <option value="ปั่น">ปั่น</option>
                                    </select>
                                </div>
                                  <div class="mb-3">
                                    <label for="productPrice" class="form-label">ราคา</label>
                                    <input type="number" class="form-control" id="price" name="price" pattern="[0-9]+" required>
                                </div>
                                <div class="mb-3">
                                  <label for="image" class="form-label" >รูปภาพ</label>
                                  <input type="file" class="form-control" id="image" name="image" style="font-family: 'Prompt', sans-serif; font-size: 14px;" required>
                                </div>                     
                                  <button type="submit" class="btn btn-dark" style="font-family: 'Prompt', sans-serif; font-size: 14px;">บันทึก</button>
                                </form>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">ลำดับ</th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">ชื่อวัตถุดิบ</th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">จำนวนคงเหลือ</th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">หน่วยนับ</th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">ราคาต่อหน่วย</th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;"></th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">แก้ไข</th>
                                <th style="font-family: 'Prompt', sans-serif; font-size: 14px;">ลบ</th>
                            </tr>
                        </thead>
                        <tbody id="productTableBody"></tbody>
                    </table>
                </div>
                
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone.min.js"></script>
                <script>
                    axios.get('/products')
                        .then(response => {
                            const products = response.data;
                            const tableBody = document.getElementById('productTableBody');
                
                            products.forEach((product, index) => {
                                const row = `<tr>
                                                <td>${index+1}</td>
                                                <td class="py-1">
                                                    <img src="/images/products/${product.image}" alt="Product Image" style="width: 50px; height: 50px; object-fit: cover;">
                                                </td>
                                                <td>${product.productname}</td>
                                                <td>${product.type}</td>
                                                <td>${product.price}</td>
                                                <td></td> <!-- Empty cell for spacing -->
                                                <td>
                                                  <form action="/products/editproductU" method="POST">
                                                    <input type="text" class="form-control" name="edit_id" value="${product._id}">
                                                    <button type="submit" class="btn btn-warning" style="font-family: 'Prompt', sans-serif; font-size: 14px;" data-bs-toggle="modal">แก้ไข</button>
                                                  </form>
                                                </td>
                                                <td>
                                                    <a href="products/deleteU/${product._id}" class="btn btn-danger" style="font-family: 'Prompt', sans-serif; font-size: 14px;" onclick="return confirm('คุณต้องการลบหรือไม่ ?')">ลบ</a>
                                                </td>
                                            </tr>`;
                
                                tableBody.innerHTML += row;
                            });
                        })
                        .catch(error => {
                            console.error('Error fetching products:', error);
                        });
                </script>
                        
                      </tbody>
                    </table>
                  </div>
                  </div>
                </div>
              </div>
            </div>


            
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Recent Updates</h4>
                    <div class="d-flex">
                      <div class="d-flex align-items-center me-4 text-muted font-weight-light">
                        <i class="mdi mdi-account-outline icon-sm me-2"></i>
                        <span>jack Menqu</span>
                      </div>
                      <div class="d-flex align-items-center text-muted font-weight-light">
                        <i class="mdi mdi-clock icon-sm me-2"></i>
                        <span>October 3rd, 2018</span>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-6 pe-1">
                        <img src="/images/dashboard/img_1.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                        <img src="/assets/images/dashboard/img_4.jpg" class="mw-100 w-100 rounded" alt="image">
                      </div>
                      <div class="col-6 ps-1">
                        <img src="/assets/images/dashboard/img_2.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                        <img src="/assets/images/dashboard/img_3.jpg" class="mw-100 w-100 rounded" alt="image">
                      </div>
                    </div>
                    <div class="d-flex mt-5 align-items-top">
                      <img src="/assets/images/faces/face3.jpg" class="img-sm rounded-circle me-3" alt="image">
                      <div class="mb-0 flex-grow">
                        <h5 class="me-2 mb-2">School Website - Authentication Module.</h5>
                        <p class="mb-0 font-weight-light">It is a long established fact that a reader will be distracted by the readable content of a page.</p>
                      </div>
                      <div class="ms-auto">
                        <i class="mdi mdi-heart-outline text-muted"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Project Status</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th> # </th>
                            <th> Name </th>
                            <th> Due Date </th>
                            <th> Progress </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td> 1 </td>
                            <td> Herman Beck </td>
                            <td> May 15, 2015 </td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td> 2 </td>
                            <td> Messsy Adam </td>
                            <td> Jul 01, 2015 </td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td> 3 </td>
                            <td> John Richards </td>
                            <td> Apr 12, 2015 </td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td> 4 </td>
                            <td> Peter Meggik </td>
                            <td> May 15, 2015 </td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td> 5 </td>
                            <td> Edward </td>
                            <td> May 03, 2015 </td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td> 5 </td>
                            <td> Ronald </td>
                            <td> Jun 05, 2015 </td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title text-white">Todo</h4>
                    <div class="add-items d-flex">
                      <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                      <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task">Add</button>
                    </div>
                    <div class="list-wrapper">
                      <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                        <li>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox"> Meeting with Alisa </label>
                          </div>
                          <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li class="completed">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" checked> Call John </label>
                          </div>
                          <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox"> Create invoice </label>
                          </div>
                          <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox"> Print Statements </label>
                          </div>
                          <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li class="completed">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" checked> Prepare for presentation </label>
                          </div>
                          <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox"> Pick up kids from school </label>
                          </div>
                          <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/js/dashboard.js"></script>
    <script src="/assets/js/todolist.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>

<!-- <tr>
    <td>
      <img src="assets/images/faces/face1.jpg" class="me-2" alt="image"> David Grey
    </td>
    <td> Fund is not recieved </td>
    <td>
      <label class="badge badge-gradient-success">DONE</label>
    </td>
    <td> Dec 5, 2017 </td>
    <td> WD-12345 </td>
  </tr>
  <tr>
    <td>
      <img src="assets/images/faces/face2.jpg" class="me-2" alt="image"> Stella Johnson
    </td>
    <td> High loading time </td>
    <td>
      <label class="badge badge-gradient-warning">PROGRESS</label>
    </td>
    <td> Dec 12, 2017 </td>
    <td> WD-12346 </td>
  </tr>
  <tr>
    <td>
      <img src="assets/images/faces/face3.jpg" class="me-2" alt="image"> Marina Michel
    </td>
    <td> Website down for one week </td>
    <td>
      <label class="badge badge-gradient-info">ON HOLD</label>
    </td>
    <td> Dec 16, 2017 </td>
    <td> WD-12347 </td>
  </tr>
  <tr>
    <td>
      <img src="assets/images/faces/face4.jpg" class="me-2" alt="image"> John Doe
    </td>
    <td> Loosing control on server </td>
    <td>
      <label class="badge badge-gradient-danger">REJECTED</label>
    </td>
    <td> Dec 3, 2017 </td>
    <td> WD-12348 </td>
  </tr> -->