
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <% if (UserData.role === 'พนักงาน') { %>
      <!-- Redirect to homeU for พนักงาน -->
      <a class="navbar-brand brand-logo" href="/homeU" style="font-family: 'Prompt', sans-serif; font-size: 18px;">ระบบจัดการวัตถุดิบร้านกาแฟ</a>
    <% } else { %>
      <!-- Redirect to home for เจ้าของ -->
      <a class="navbar-brand brand-logo" href="/home" style="font-family: 'Prompt', sans-serif; font-size: 18px;">ระบบจัดการวัตถุดิบร้านกาแฟ</a>
      <a class="navbar-brand brand-logo-mini" href="/home"><img src="https://cdn-icons-png.flaticon.com/512/10021/10021404.png" alt="logo" /></a>
    <% } %>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
          </a>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="nav-profile-img" style="font-family: 'Prompt', sans-serif; font-size: 18px;"> 
              <img src="/images/users/<%=UserData.image %>" alt="image">
              <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
              <p class="mb-1 text-black"><%= UserData.firstname %> <%= UserData.lastname %></p>
            </div>
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="/editprofileU" style="font-family: 'Prompt', sans-serif; font-size: 14px;">
              <i class="mdi mdi-account me-2 text-primary"></i> โปรไฟล์ส่วนตัว
            </a>
            <div class="dropdown-divider"></div>
            <% if (loggedIn) { %>
              <a class="dropdown-item" href="/logout" style="font-family: 'Prompt', sans-serif; font-size: 14px;">
                <i class="mdi mdi-logout me-2 text-primary"></i> ออกจากระบบ
              </a>
            <% } else { %>
              <a class="btn btn-sm btn-outline-secondary mx-3" href="/login">Sign In</a>
              <a class="btn btn-sm btn-success" href="/register">Sign Up</a>
            <% } %>
          </div>
        </li>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>

  